/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form, label, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column; /* Arrange children in column layout */
}

/* Header styles */
header {
    background-color: #791515;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main content section */
#homepage,
#about,
#projects,
#contact {
    padding: 2em;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Projects section */
.project {
    margin-bottom: 2em;
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project h3 {
    margin-top: 0;
}

.project p {
    margin-bottom: 0.5em;
}

.project a {
    display: inline-block;
    color: #6138f8;
    text-decoration: none;
    background-color: #eee;
    padding: 0.5em 1em;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #ddd;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #791515;
    background-color:;
    color: #fff;
    margin-top: auto; /* Push footer to the bottom */
}

